body{
	margin: 0;
	background-color: #FFF3ED;
}

header{
	background-color: #0BCF34;
	text-align: center;
	padding-top:  50px;
	padding-bottom: 50px;
}
header h1{
	color: white;
	font-size: 50px;
}
header img{
	border-radius: 300px;
	width: 300px;
	border: 15px solid white;
}
h1, h2{
	font-family: 'Pacifico', cursive;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
main img{
	max-width: 100%;
}
footer{
	text-align: right;
	background-color: #0BCF34;
	padding: 20px;
}
h2{
	font-size: 40px;
	color: #0BCF34;
	margin: 40px 0 10px;
}
p{
	font-family: 'Staatliches', cursive;
	font-size: 25px;
	color: #767787;
}
li{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	line-height: 40px;
}
a{
	color: #0BCF34;
}
a:hover{
	background-color: #483a94;
	color: white;
}
footer a{
	color: black;
	font-size: 15px;
	font-family: arial,serif
}
footer a:hover{
	opacity: .5;
	background-color: transparent;

}
footer p{
	margin: 0;
}
p.grey{
	color: grey;
	font-style: italic;
	margin-top: 0;
}